
body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
}

.breadcrumb {
  border: 1px solid #ddd;
}

canvas {
  width: 100%;
  height: auto;
}

.table-cell-small {
  width: 30px;
  min-width: 30px;
}

.table-cell-middle {
  width: 100px;
  min-width: 100px;
}

.table-cell-stretch {
  width: 100%;
}