
.bt-has-loader {
  position: relative;
}

.bt-loader {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  text-align: center;
  &> div {
    width: 16px;
    height: 16px;
    background-color: $color-blue;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  & .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  & .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }
}

.bt-button-loader {
  min-height: 45px;
  position: relative;
  .bt-loader {
    position: static;
    display: inline-block;
    margin-left: auto;
    &> div {
      background-color: white;
      width: 13px;
      height: 13px;
    }
  }
}