
// todo: add media query to fix centering on small device
.login-container {
  position: absolute;
  width: 100%;
  top: 30%;
  margin-top: -100px;
  .login-container-inner {
    margin: 0 auto;
    max-width: 350px;
  }
  .login-heading {
    margin: 30px 0 20px 0;
    font-weight: normal;
  }
  .logo {
    max-height: 60px;
  }
}

.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login-form .checkbox {
  font-weight: normal;
}

.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.login-form .form-control:focus {
  z-index: 2;
}

.login-form .login-input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-input-bottom {
  margin-bottom: 10px;
}

.login-form .login-input-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-margin-bottom {
  margin-bottom: 10px;
}

.input-middle {
  border-radius: 0;
  margin-bottom: -1px !important;
}