.modal {
  -webkit-transition: all ease !important;
  -moz-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}

.modal .modal-dialog {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) !important;
  -ms-transform: scale3d(0.8, 0.8, 0.8) !important;
  transform: scale3d(0.8, 0.8, 0.8) !important;
}

.modal.in .modal-dialog {
  -webkit-transform: scale3d(1, 1, 1) !important;
  -ms-transform: scale3d(1, 1, 1) !important;
  transform: scale3d(1, 1, 1) !important;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-error {
  text-align: center;
}