
// top bar stuff

.navbar .logo {
  max-height: 40px;
}

.navbar {
  min-height: 75px;
  padding-top: 15px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #888;
}

.main-nav, .main-right-nav {
  &> li > a:hover,
  &> li > a:focus,
  &> li > a:hover,
  &> li > a:focus,
  &> .open > a {
    background-color: transparent !important;
    color: #000;
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding-left: 35px;
  }
}

.nav-pills {
  > li {
    margin-right: 10px;
  }
}

.nav-profile-dropdown {
  > a {
    cursor: pointer;
    padding-top: 6px !important;
  }
  .dropdown-menu {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }
}

.navbar-profile {
  margin-right: 0 !important;
}

.navbar-profile-picture {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: #ddd;
  border-radius: 50%;
  border: 1px solid #bbb;
}

.profile-toggle {
  cursor: pointer;
  padding-top: 6px;
}

.main-nav {
  li {
    position: relative;
    .square {
      display: none;
      width: 14px;
      height: 14px;
      background: #f9f9f9;
      position: absolute;
      bottom: -22px;
      left: 50%;
      margin-left: -7px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.12);
      -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.12);
      box-shadow: inset 1px 1px 2px rgba(0,0,0,.12);
    }

    &.active {
      @media (min-width:767px) {
        .square {
          display: block;
        }
      }
      a {
        color: #000;
      }
    }
  }
}
