// main view animation

// this stretch the viewport

body {
  overflow: hidden;
}

.bt-view-main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
}

.bt-view-main.ng-enter, .bt-view-main.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.bt-view-main.ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  -moz-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
}

.bt-view-main.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.bt-view-main.ng-leave {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.bt-view-main.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8, 0.8);
  -moz-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

// sub page fade animation

.bt-view-fade {
  //
}

.bt-view-fade.ng-enter{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.bt-view-fade.ng-enter {
  opacity: 0;
}

.bt-view-fade.ng-enter-active {
  opacity: 1;
}

.bt-view-fade.ng-leave {
  opacity: 1;
}

.bt-view-fade.ng-leave-active {
  opacity: 0;
}

