<div class="panel panel-default">
  <div class="panel-heading">
    Inbox
  </div>
  <div class="panel-body no-padding">

    <table class="table table-hover">
      <thead>

      </thead>
      <tbody>
      <tr>
        <td class="table-cell-small">
          <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="table-cell-middle"><a href="mail_view.html">Google Inc.</a></td>
        <td class="table-cell-stretch">
          Your new account is ready.
        </td>
        <td class="table-cell-middle  text-right">08:10 AM</td>
        <td class="table-cell-small">
          <a title="Reply" href="#" ng-click="reply()">
            <i class="fa fa-mail-reply"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="table-cell-small">
          <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="table-cell-middle"><a href="mail_view.html">Google Inc.</a></td>
        <td class="table-cell-stretch">
          Your new account is ready.
        </td>
        <td class="table-cell-middle  text-right">08:10 AM</td>
        <td class="table-cell-small">
          <a title="Reply" href="#" ng-click="reply()">
            <i class="fa fa-mail-reply"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="table-cell-small">
          <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="table-cell-middle"><a href="mail_view.html">Google Inc.</a></td>
        <td class="table-cell-stretch">
          Your new account is ready.
        </td>
        <td class="table-cell-middle  text-right">08:10 AM</td>
        <td class="table-cell-small">
          <a title="Reply" href="#" ng-click="reply()">
            <i class="fa fa-mail-reply"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="table-cell-small">
          <input type="checkbox" class="mail-checkbox">
        </td>
        <td class="table-cell-middle"><a href="mail_view.html">Google Inc.</a></td>
        <td class="table-cell-stretch">
          Your new account is ready.
        </td>
        <td class="table-cell-middle  text-right">08:10 AM</td>
        <td class="table-cell-small">
          <a title="Reply" href="#" ng-click="reply()">
            <i class="fa fa-mail-reply"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>