<ol class="breadcrumb">
  <li>
    <i class="fa fa-dashboard"></i> <a ui-sref="app.dashboard">BOINC</a>
  </li>
  <li class="active">
    <i class="fa fa-table"></i> Messages
  </li>
</ol>


<div class="row">

  <div class="col-md-3">
    <div class="list-group">
      <a ui-sref-active="active" ui-sref="app.messages.inbox" class="list-group-item">
        <!--<span class="badge">just now</span>-->
        <i class="fa fa-fw fa-envelope"></i> Inbox
      </a>
      <a ui-sref-active="active" ui-sref="app.messages.outbox" class="list-group-item">
        <!--<span class="badge">4 minutes ago</span>-->
        <i class="fa fa-fw fa-send"></i> Outbox
      </a>
      <a ui-sref-active="active" ui-sref="app.messages.new" class="list-group-item">
        <!--<span class="badge">4 minutes ago</span>-->
        <i class="fa fa-fw fa-pencil"></i> New message
      </a>
    </div>
  </div>

  <div class="col-md-9">
    <div ui-view="messageView"></div>
  </div>
</div>
