<div class="panel panel-default">
  <div class="panel-heading">
    New message
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="new_to" class="col-sm-2 control-label">To</label>
        <div class="col-sm-10">
          <input class="form-control" id="new_to" placeholder=""></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="new_text" class="col-sm-2 control-label">Text</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="new_text" placeholder=""></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Send message</button>
        </div>
      </div>
    </form>
  </div>
</div>