<div class="panel panel-default">
  <div class="panel-heading">
    Disk and memory settings
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="s-n-1" class="col-sm-4 control-label">
          Disk: use at most<br>
          <small>0 means no restriction</small>
        </label>

        <div class="col-sm-8">
          <div class="form-inline">
            <input id="s-n-1" type="text" value="" class="form-control"> GB
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="s-n-2" class="col-sm-4 control-label">
          Disk: leave free at least
          <small>Values smaller than 0.001 are ignored</small>
        </label>

        <div class="col-sm-8">
          <div class="form-inline">
            <input id="s-n-2" type="text" value="" class="form-control"> GB
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default">Save changes</button>
        </div>
      </div>
    </form>

  </div>
</div>