<div class="panel panel-default">
  <div class="panel-heading">
    Network settings
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="s-n-1" class="col-sm-4 control-label">
          Maintain enough tasks to keep busy for at least<br>
          <small>(max 10 days)</small>
        </label>

        <div class="col-sm-8">
          <div class="form-inline">
            <input id="s-n-1" type="text" value="" class="form-control"> days
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="s-n-2" class="col-sm-4 control-label">
          ... and up to an additional
        </label>

        <div class="col-sm-8">
          <div class="form-inline">
            <input id="s-n-2" type="text" value="" class="form-control"> days
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default">Save changes</button>
        </div>
      </div>
    </form>

  </div>
</div>