<div class="panel panel-default">
  <div class="panel-heading">
    Processor settings
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="s-i-1" class="col-sm-4 control-label">
          Suspend work while computer is on battery power?<br>
          <small>Matters only for portable computers</small>
        </label>

        <div class="col-sm-8">
          <div class="checkbox">
            <input id="s-i-1" type="checkbox" value="">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="s-i-2" class="col-sm-4 control-label">
          Suspend work while computer is in use?<br>
          <small>Matters only for portable computers</small>
        </label>

        <div class="col-sm-8">
          <div class="checkbox">
            <input id="s-i-2" type="checkbox" value="">
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default">Save changes</button>
        </div>
      </div>
    </form>

  </div>
</div>