<ol class="breadcrumb">
  <li>
    <i class="fa fa-dashboard"></i> <a ui-sref="app.dashboard">BOINC</a>
  </li>
  <li class="active">
    <i class="fa fa-table"></i> Settings
  </li>
</ol>

<p>These settings will apply to your BOINC client app.</p>
<br>

<div bt-loader-container show="view.loading">

  <ul class="nav nav-pills">
    <li role="presentation" ui-sref-active="active">
      <a href="#" ui-sref="app.settings.processor">
        <i class="fa fa-gears"></i> Processor settings
      </a>
    </li>
    <li role="presentation" ui-sref-active="active">
      <a href="#" ui-sref="app.settings.disk">
        <i class="fa fa-gears"></i> Disk and memory settings
      </a>
    </li>
    <li role="presentation" ui-sref-active="active">
      <a href="#" ui-sref="app.settings.network">
        <i class="fa fa-gears"></i> Network settings
      </a>
    </li>
  </ul>

  <br>

  <div ui-view="settingsView"></div>

</div>