<ol class="breadcrumb">
  <li>
    <i class="fa fa-dashboard"></i> BOINC
  </li>
  <li>
    <i class="fa fa-table"></i> <a ui-sref="app.projects">Projects</a>
  </li>
  <li class="active">
    <i class="fa fa-table"></i> Asteroids
  </li>
</ol>

<h2>Asteroids</h2>
<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
  vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly
  domed and divided by arches into stiff sections.</p>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Your daily computing</strong>
      </div>
      <div class="panel-body">

        <div class="row">
          <!--<div class="col-md-4">-->
          <!--<canvas width="170" tc-chartjs chart-type="doughnut" chart-data="donutData"-->
          <!--chart-options="options"></canvas>-->
          <!--</div>-->
          <!--<div class="col-md-8">-->
          <!--<p><strong>Time spent on your workunit:</strong>12h 21m 10s</p>-->
          <!--<p><strong>Total time spent:</strong> 11d 5h 4m 45s</p>-->
          <!--<p><strong>Date placed:</strong> 10. 10. 2014</p>-->
          <!--<button class="btn btn-default">View project</button>-->
          <!--</div>-->
          <div class="col-sm-6">
            <canvas tc-chartjs width="1000" chart-type="line" chart-data="data" chart-options="options"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



