<ol class="breadcrumb">
  <li>
    <i class="fa fa-dashboard"></i> BOINC
  </li>
  <li class="active">
    <i class="fa fa-table"></i> Applications
  </li>
</ol>

<p>Your current or previous applications, you have participated on BOINC@FIIT.</p>
<br>
<div class="row" bt-loader-container show="view.loading">

  <div class="col-lg-6"
       ng-repeat="app in apps">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{ app.name }}</strong>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-4">
            <canvas width="170" tc-chartjs chart-type="doughnut" chart-data="donutData"
                    chart-options="options"></canvas>
          </div>
          <div class="col-md-8">
            <p><strong>Time spent on your workunit:</strong> {{app.userWorkTime}}</p>

            <p><strong>Total time spent:</strong> {{app.totalWorkTime}}</p>

            <p><strong>Date placed:</strong> {{app.datePlaced}}</p><br>
            <a href="#/app/projects/1" class="btn btn-default">View project</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>



