<nav class="nav navbar">
  <div class="container">
    <div class="navbar-left">
      <a ui-sref="app.projects">
        <img src="/images/logo.png" class="logo">
      </a>
    </div>
    <ul class="nav main-nav navbar-nav navbar-left">
      <li ui-sref-active="active" >
        <a ui-sref="app.projects">Projects</a>
        <span class="square"></span>
      </li>
      <li ui-sref-active="active" >
        <!--href is used instead ui-sref temporary -->
        <a href="#/app/settings/processor"><span ui-sref="app.settings"></span>Settings</a>
        <span class="square"></span>
      </li>
    </ul>
    <ul class="nav main-right-nav navbar-nav navbar-right "><!--navbar-profile-->
      <li>
        <a ng-click="testModal()">
          <strong>0</strong> kreditov
        </a>
      </li>
      <li dropdown class="nav-profile-dropdown">
        <a dropdown-toggle>
          <!--{{ loggedUser.username }}-->
          <img src="images/ed_pg.jpg" class="navbar-profile-picture">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ui-sref="app.profile.account">Profile settings</a>
          </li>
          <li><a ui-sref="app.messages.inbox">Messages</a></li>
          <li class="divider"></li>
          <li><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div ui-view="mainView"></div>

</div>


<script type="text/ng-template" id="modalError">
  <div class="modal-error">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">
        Oops!
      </h4>
    </div>
    <div class="modal-body">
      Something's gone wrong.
      <br>Try to reload the browser.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">OK</button>
    </div>
  </div>
</script>
