<div class="login-container text-center">
  <div class="login-container-inner">

    <img src="/images/logo.png" class="logo">

    <form
      name="loginForm"
      novalidate
      ng-submit="login()"
      class="login-form"
      >

      <h4 class="login-heading">Login into your BoincFIIT account</h4>

      <div class="alert alert-danger text-left" ng-if="error">
        {{ error }}
      </div>

      <input
        required
        type="email"
        class="form-control login-input-top"
        ng-model="loginData.username"
        placeholder="Email address">

      <input
        required
        type="password"
        class="form-control login-input-bottom"
        ng-model="loginData.password"
        placeholder="Password">

      <div class="form-group">
        <button
          class="btn btn-primary btn-block btn-lg"
          type="submit"
          bt-button-loader="loading"
          ng-disabled="loginForm.$invalid">
          Login
        </button>
      </div>
    </form>

    <p class="text-center login-bottom-text">Don't have an account? <a href="" ui-sref="signup">Sign up!</a></p>
    <p class="text-center login-bottom-text"><a href="" ui-sref="forgot-password">Forgot Password?</a></p>

  </div>
</div>