<div class="login-container text-center">
  <div class="login-container-inner">

    <img src="/images/logo.png" class="logo">

    <form
      ng-if="!send"
      name="loginForm"
      novalidate
      ng-submit="sendResetLink()"
      class="login-form"
      >

      <h4 class="login-heading">Enter your email address and we'll get you back on track.</h4>

      <div class="alert alert-danger text-left" ng-if="error">
        {{ error }}
      </div>

      <input
        required
        type="email"
        class="form-control input-margin-bottom"
        ng-model="resetData.email"
        placeholder="Email address">

      <div class="form-group">
        <button
          class="btn btn-primary btn-block btn-lg"
          type="submit"
          bt-button-loader="loading"
          ng-disabled="loginForm.$invalid">
          Request reset link
        </button>
      </div>
    </form>

    <p ng-if="!send" class="text-center login-bottom-text"><a href="" ui-sref="login">Back to login</a></p>

    <h4 ng-if="send" class="login-heading">Reset link send.</h4>
    <p ng-if="send" class="text-center">The email with reset link was send to your address. Please follow the next steps provided in the email. </p>

  </div>
</div>