<div class="container login-container text-center">

  <div class="login-container-inner">
    <img src="/images/logo.png" class="logo">

    <form
      ng-if="!send"
      name="signUpForm"
      novalidate
      ng-submit="resetPassword()"
      class="login-form"
      >

      <h4 class="login-heading">Please enter your new password.</h4>

      <div class="alert alert-danger text-left" ng-if="error">
        {{ error }}
      </div>

      <input
        required
        type="password"
        class="form-control login-input-top"
        ng-model="resetData.password"
        placeholder="Password">

      <input
        required
        type="password"
        class="form-control login-input-bottom"
        ng-model="resetData.passwordConfirm"
        placeholder="Confirm your password">

      <div class="form-group">
        <button
          class="btn btn-primary btn-block btn-lg"
          type="submit"
          bt-button-loader="loading"
          ng-disabled="signUpForm.$invalid"
          >
          Change password
        </button>
      </div>
    </form>

    <h4 ng-if="send" class="login-heading">Password was changed.</h4>
    <p ng-if="send" class="text-center">Your password has been changed. You can now <a href="" ui-sref="login">log in!</a></p>

  </div>

</div>