<div class="container login-container text-center">

  <div class="login-container-inner">
    <img src="/images/logo.png" class="logo">

    <form
      name="signUpForm"
      novalidate
      ng-submit="signUp()"
      class="login-form signup-form"
      >

      <h4 class="login-heading">Create an account</h4>

      <div class="alert alert-danger text-left" ng-if="error">
        {{ error }}
      </div>

      <input
        required
        type="email"
        class="form-control login-input-top"
        ng-model="signUpData.username"
        placeholder="Username">

      <input
        required
        type="password"
        class="form-control input-middle"
        ng-model="signUpData.password"
        placeholder="Password">


      <input
        required
        type="password"
        class="form-control login-input-bottom"
        ng-model="signUpData.passwordConfirm"
        placeholder="Confirm pasword">

      <div class="form-group">
        <button
          class="btn btn-primary btn-block btn-lg"
          type="submit"
          bt-button-loader="loading"
          ng-disabled="signUpForm.$invalid"
          >
          Sign up
        </button>
      </div>
    </form>

    <p class="text-center">Already have an account? <a href="" ui-sref="login">Log in!</a></p>

  </div>

</div>