<div class="panel panel-default">
  <div class="panel-heading">
    Password Change
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Old password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">New password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">New password again</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <button type="submit" class="btn btn-default">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>