<ol class="breadcrumb">
  <li>
    <i class="fa fa-dashboard"></i>  <a ui-sref="app.dashboard">BOINC</a>
  </li>
  <li class="active">
    <i class="fa fa-table"></i> Profile
  </li>
</ol>

<div class="row">

  <div class="col-md-3">
    <div class="list-group">
      <a ui-sref-active="active" ui-sref="app.profile.account" class="list-group-item">
        <!--<span class="badge">just now</span>-->
        <i class="fa fa-fw fa-calendar"></i> Account settings
      </a>
      <a ui-sref-active="active" ui-sref="app.profile.passwordChange" class="list-group-item">
        <!--<span class="badge">4 minutes ago</span>-->
        <i class="fa fa-fw fa-comment"></i> Password change
      </a>
    </div>
  </div>

  <div class="col-md-9">
    <div ui-view="profileView"></div>
  </div>
</div>
